{config_load file="lang/$language/lang_$language.conf" section="account_password"}
{if $error!=''}
<div class="headerError bg-danger">
	{$error}
</div>
{/if}

<div class="row">
<h1>{#heading_password#}</h1>
	<div class="col-xs-12">
	{$FORM_ACTION}
	<p class="bg-danger">{#text_must#}</p>
	<br>
	<div class="col-xs-6 col-md-6 text-right">{#text_actual#}</div>
	<div class="col-xs-6 text-left">{$INPUT_ACTUAL}</div>
	<div class="col-xs-6 text-right">{#text_new#}</div>
	<div class="col-xs-6 text-left">{$INPUT_NEW}</div>
	<div class="col-xs-6 text-right">{#text_confirm#}</div>
	<div class="col-xs-6 text-left">{$INPUT_CONFIRM}</div>
	{$BUTTON_BACK} &nbsp; {$BUTTON_SUBMIT}
	{$FORM_END}
</div>
</div>