{config_load file="lang/$language/lang_$language.conf" section="new_password"} 
{config_load file="lang/$language/lang_$language.conf" section="antispam"}
{if $info_message!=''}
	<div class="headerError">{$info_message}</div>
{/if}


<div class="product_info_name"><h1>{$text_heading}</h1></div>
<div class="product_pad">
{$FORM_ACTION}
	<strong>{$message}</strong><br><br>
	{#text_info_pre#} {$SHOP_NAME} {#text_info_post#}<br><br>
	<fieldset class="account">
		<legend><strong >{#text_step1#}</strong></legend>
		{if $ANTISPAMCODEACTIVE == 'true'}
		<dl>
			<dt class="w24p">{#text_antispam#}</dt>
			<dd>{$ANTISPAMCODEQUESTION}</dd>
		</dl>
		<dl>
			<dt class="w24p"><b>{#text_antispam_input#}</b></dt>
			<dd>{$INPUT_ANTISPAMCODE}</dd>
			<dd>{$ANTISPAMCODEID}</dd>
		</dl>
		{/if}
		<dl>
			<dt class="w24p">{#text_email#}</dt>
			<dd>{$INPUT_EMAIL}</dd>
		</dl>
	</fieldset><br>
	<strong>{#text_to_step2#}</strong><br><br>
	{#text_continue#}<br><br>
	
	<div align="right">
	    {$BUTTON_SEND}
	</div>
{$FORM_END}

</div>