{config_load file="lang/$language/lang_$language.conf" section="product_related_products_cat"}
{if $PRODUCT_RELATED_CAT}
	<div class="row">
	<div class="col-xs-12">
	<br><b>{#heading_text#}</b><br><br>
		{foreach item=RELATED_CAT from=$PRODUCT_RELATED_CAT}
			<div class="col-xs-3 text-center">
				<div><a href="{$RELATED_CAT.prdlink}" title="{$RELATED_CAT.pName}">{$RELATED_CAT.pImage}</a></div>
				<div><a href="{$RELATED_CAT.prdlink}" title="{$RELATED_CAT.pName}">{$RELATED_CAT.pName}</a></div>
			</div>
		{/foreach}
	</div>
	</div>
	<hr>
{/if}
{if $PRODUCT_RELATED_CAT_ALL}
	<div class="row">
	<div class="col-xs-12">
	<br><b>{#heading_text_artikel#}</b><br><br>

		{foreach item=RELATED_CAT_ALL from=$PRODUCT_RELATED_CAT_ALL}
			<div class="col-xs-3 text-center">
				<div><a href="{$RELATED_CAT_ALL.prdlink}" title="{$RELATED_CAT_ALL.pName}">{$RELATED_CAT_ALL.pImage}</a></div>
				<div><a href="{$RELATED_CAT_ALL.prdlink}" title="{$RELATED_CAT_ALL.pName}">{$RELATED_CAT_ALL.pName}</a></div>
			</div>				
				{/foreach}
	</div>
	</div>
	<hr>
{/if}

