{config_load file="lang/$language/lang_$language.conf" section="products_promotion"} 
{if $promotion_modul|@sizeof > 1}
<div id="carouselpromo" class="carousel slide row" data-ride="carousel">
  <ol class="carousel-indicators">
	{assign var="n" value=0}
	{foreach name=promo item=pp_data from=$promotion_modul}
		<li data-target="#carouselpromo" data-slide-to="{$n}" {if $n == 0}class="active"{/if}></li>
		{assign var="n" value="`$n+1`"}
	{/foreach}
  </ol>
  <div class="carousel-inner col-xs-12 rslides">
	{assign var="n" value=0}
		{foreach name=promo item=pp_data from=$promotion_modul}
			<div class="item{if $n == 0} active{/if} col-xs-12">
			<a href="{$pp_data.PRODUCT_LINK}">
				<img src="{$pp_data.PRODUCT_IMAGE}" width="100%" height="auto" title="{$pp_data.PRODUCT_NAME}" alt="{$pp_data.PRODUCT_NAME}" />
			</a>
				{if $pp_data.PRODUCT_DESCRIPTION !='' || $pp_data.PRODUCT_NAME !=''}
					<div class="carousel-caption">
						{if $pp_data.PRODUCT_NAME !=''}
							<a title="{$pp_data.PRODUCT_NAME}" href="{$pp_data.PRODUCT_LINK}">{$pp_data.PRODUCT_NAME}</a>
						{/if}
						{if $pp_data.PRODUCT_DESCRIPTION != ''}
							<br />{$pp_data.PRODUCT_DESCRIPTION}
						{/if}
					 </div>
				{/if}
			
			</div>
			{assign var="n" value="`$n+1`"}
		{/foreach}
	</div>
	</div>
{/if}