{config_load file="lang/$language/lang_$language.conf" section="account_edit"}
{$FORM_ACTION}
{if $error!=''}
	<div class="headerError bg-danger">{$error}</div>
{/if}
<h2>{#heading_account#}</h2>

<div class="product_pad row">
	<div class="inputRequirement bg-danger">{#text_must#}</div>
	{if $csID}
		<div class="w201 col-lg-4">{#csID#}</div>
		<div class="col-lg-8"><b>{$csID}</b></div>
		<br>
	{/if}
	<fieldset>
		<legend>{#adresse#}</legend>
		<dl>
			{if $gender=='1'}
				<dt class="w200 col-lg-4 col-sm-12">{#text_gender#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_MALE} | {$INPUT_FEMALE}</dd>
			{/if}
				<dt class="w200 col-lg-4 col-sm-12">{#text_firstname#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_FIRSTNAME}</dd>
				<dt class="w200 col-lg-4 col-sm-12">{#text_lastname#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_LASTNAME}</dd>
			{if $birthdate=='1'}
				<dt class="w200 col-lg-4 col-sm-12">{#text_birthdate#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_DOB}</dd>
			{/if}
				<dt class="w200 col-lg-4 col-sm-12">{#text_email#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_EMAIL}</dd>
				<dt class="w200 col-lg-4 col-sm-12">{#text_tel#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_TEL}</dd>
				<dt class="w200 col-lg-4 col-sm-12">{#text_fax#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_FAX}</dd>
		
			{if $vat=='1'}
				<dt class="w200 col-lg-4 col-sm-12">{#text_ustid#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_VAT}</dd>
			{/if}
		</dl>
	</fieldset>
	<div class="col-lg-6 col-sm-12 text-left al">{$BUTTON_BACK}</div>
	<div class="col-lg-6 col-sm-12 text-right ar">{$BUTTON_SUBMIT}</div>
</div>
{$FORM_END}