{load_language_text section="account"}
<div class="product_pad">
<h1>{$txt.heading_history_info}</h1>
<div>
	<b>
		{$txt.text_oid}{$ORDER_NUMBER} 
	    ({$ORDER_STATUS}) 
		{if $IPDFBILL_INVOICE_DOWNLOAD!='' }<br>{$txt.text_pdf_bill_print}
		<a href="{$IPDFBILL_INVOICE_DOWNLOAD}"><img src="images/icon_pdf.gif" border="0" width="16" height="16"></a><br>
		{/if}
		<br>
	 </b>
	<span>{$txt.text_date} {$ORDER_DATE}</span>
</div>
<br>
<br>
<div style="width:100%">
	{if $DELIVERY_LABEL}
	<div style=" float:left; width:49%;border-top: 1px solid; border-color: #333;">
		<b>{$txt.text_shipping_address}</b><br><br>
		{$DELIVERY_LABEL}
	</div>
	{/if}
	{if $BILLING_LABEL}
	<div style=" float:right; width:49%;border-top: 1px solid; border-color: #333;" align="left">
		<b>{$txt.text_payment_address}</b><br><br>
		{$BILLING_LABEL}
	</div>
	{else}
	<br style="clear:both" />
	{/if}
	<br style="clear:both" />
</div>
<br>
<br>
<b>{$txt.text_shipping_method}</b><br>{$SHIPPING_METHOD}<br><br>
{if $PAYMENT_METHOD}
	<b><br>{$txt.text_payment_method}</b><br> {$PAYMENT_METHOD} <br><br>
<br>
{/if}

{if $ORDER_COMMENTS!=''} 
	<b>{$txt.text_comments}</b><br> 
	<div>{$ORDER_COMMENTS}</div><br style="clear:both" /><br>
{/if} 

{if $PAYMENT_INFORMATION!=''}
	<b>{$txt.text_payment_info}</b><br>
	<div>
		{$PAYMENT_INFORMATION}
	</div><br style="clear:both" /><br>
{/if}

<b>{$txt.title_history}</b>
<div>
	{$HISTORY_BLOCK}<br style="clear:both" /><br>
</div>

<b style="font-size:larger">{$txt.heading_products}</b>
<div style="width:100%; border-bottom: 1px solid #ccc; margin-bottom:4px;">
	<div style="float:left; width:11%;" align="center">
		<b>{$txt.head_units}</b>
	</div>
	<div style="float:left; width:22%;">
		<b>{$txt.head_products}</b>
	</div>
	<div style="float:left; width:19.9%;">
		<b>{$txt.head_artnr}</b>
	</div>
	<div style="float:left; width:19.9%;">
		<b>{$txt.head_single_price}</b>
	</div>
	<div style="float:right; width:20%;" align="right">
		<b>{$txt.head_price}</b>
	</div>
	<br style="clear:both" />
</div>
{foreach name=aussen item=order_values from=$order_data} 
<div class="{cycle values="row4,row3"}" style="width:100%;color:#686868; padding: 3px 0; font-size:10px"> 
	<div style="float:left; width:9%;">
		<div align="center">{$order_values.PRODUCTS_QTY}</div>
	</div>
	<div style="float:left; width:2%;">x</div>
	<div style="float:left; width:22%;">
		<b>{$order_values.PRODUCTS_NAME}</b><em>{$order_values.PRODUCTS_ATTRIBUTES}</em>
		{if $order_values.PRODUCTS_SHIPPING_TIME neq ''}<br>
		{$txt.text_shippingtime}{$order_values.PRODUCTS_SHIPPING_TIME}<br>{/if}
	</div>
	<div style="float:left; width:19.9%;" align="center">{$order_values.PRODUCTS_MODEL}
		<em>{$order_values.PRODUCTS_ATTRIBUTES_MODEL}</em>
	</div>
	<div style="float:left; width:19.9%;">
		{$order_values.PRODUCTS_SINGLE_PRICE}
	</div>
	<div style="float:right; width:19.9%;">
		<div align="right"><b>{$order_values.PRODUCTS_PRICE}</b></div>
	</div>
	<br style="clear:both" />
 </div>
{/foreach}
<br><br>
{foreach name=aussen item=order_total_values from=$order_total}
<div style="width:100%;" align="right">
	<div>{$order_total_values.TITLE} {$order_total_values.TEXT}</div>
</div>
{/foreach} 
<br><br style="clear:both" />
{if $dl}
  {$downloads_content}<br><br style="clear:both" />
{/if}

{if $WITHDRAWAL_BUTTON}
	<div style="width:100%">
	<h2>{$txt.heading_withdrawal}</h2>
	<hr>
	</div>
	<div style="width:100%">{$txt.text_withdrawal_form}{$WITHDRAWAL_BUTTON}</div>
	{if $WITHDRAWAL_BUTTON_PDF}
	<div style="width:100%">{$txt.text_withdrawal_pdf}{$WITHDRAWAL_BUTTON_PDF}</div>
	<div style="width:100%"><br>{$txt.text_withdrawal_hinweis}</div>
	{/if}
	<br style="clear:both" />
	<hr>
	<br>

{/if}

<div style="width:100%">
	<div style="float:left; width:49%">{$BUTTON_BACK}</div>
	<div style="float:right; width:49%" align="right">{$BUTTON_PRINT}</div>
	<br style="clear:both" /><br>
</div>

</div>