{config_load file="lang/$language/lang_$language.conf" section="create_account"}
{if $error!=''}
<div class="headerError bg-danger">{$error}</div>
{/if}
<div class="login_pad row">
	<div class="col-md-12">
	<div class="product_pad">
	<h2>{#heading_guest_order#}</h2>
		{$FORM_ACTION}
		<div class="inputRequirement bg-danger">{#text_must#}</div>
		<fieldset class="account">
			<legend><b>{#title_personal#}</b></legend>
			<dl>
				{if $gender=='1'}
					<dt class="w200 col-lg-4 col-sm-12">{#text_gender#}</dt>
					<dd class="col-lg-8 col-sm-12">{$INPUT_MALE} | {$INPUT_FEMALE}</dt>
				{/if}
				<dt class="w200 col-lg-4 col-sm-12">{#text_firstname#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_FIRSTNAME}</dd>
				<dt class="w200 col-lg-4 col-sm-12">{#text_lastname#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_LASTNAME}</dd>
			{if $birthdate=='1'}
				<dt class="w200 col-lg-4 col-sm-12">{#text_birthdate#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_DOB}</dd>
			{/if}
				<dt class="w200 col-lg-4 col-sm-12">{#text_email#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_EMAIL}</dd>
			</dl>
		</fieldset>

		{if $company=='1'}
		<br>
		<fieldset class="account">
			<legend><b>{#title_company#}</b></legend>
			<dl>
				<dt class="w200 col-lg-4 col-sm-12">{#text_company#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_COMPANY}</dd>
			{if $vat=='1'}
				<dt class="w200 col-lg-4 col-sm-12">{#text_ustid#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_VAT}</dd>
			{/if}
			</dl>
		</fieldset>
		{/if}
		<br>
		<fieldset class="account">
			<legend><b>{#title_address#}</b></legend>
			<dl>
				<dt class="w200 col-lg-4 col-sm-12">{#text_street#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_STREET}{$INPUT_STREET_NUM}</dd>
			{if $suburb=='1'}
				<dt class="w200 col-lg-4 col-sm-12">{#text_suburb#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_SUBURB}</dd>
			{/if}
				<dt class="w200 col-lg-4 col-sm-12">{#text_code_city#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_CODE} {$INPUT_CITY}</dd>
			{if $country == '1'}
			<br>
				<dt class="w200 col-lg-4 col-sm-12">{#text_country#}</dt>
				<dd class="col-lg-8 col-sm-12">{$SELECT_COUNTRY}</dd>
			{else}
				{$SELECT_COUNTRY}
			{/if}
			{if $state == '1'}
			<br>
				<dt class="w200 col-lg-4 col-sm-12">{#text_state#}</dt>
				<dd class="col-lg-8 col-sm-12"><span id="state">{$INPUT_STATE}</span></dd>
			{/if}
			</dl>
		</fieldset>
		{if $INPUT_TEL || $INPUT_FAX}
		<br>
		<fieldset class="account">
			<legend><b>{#title_contact#}</b></legend>
			<dl>
				{if $INPUT_TEL}
				<dt class="w200 col-lg-4 col-sm-12">{#text_tel#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_TEL}</dd>
				{/if}
				{if $INPUT_FAX}
				<dt class="w200 col-lg-4 col-sm-12">{#text_fax#}</dt>
				<dd class="col-lg-8 col-sm-12">{$INPUT_FAX}</dd>
				{/if}
			</dl>
		</fieldset>
		{/if}
		<br>
		<fieldset class="account">
			<legend><b>{#title_newsletter#}</b></legend>
			{$INPUT_NEWSLETTER} {#receive_newsletter#}
		</fieldset>
		{if $TRUSTED_DSG != 'false'}
		<fieldset class="account">
			<legend><b>{#title_datensg#}</b></legend>
			<div class="textarea col-sm-12">{$DSG}</div>
			<div class="red border_radius_6 col-sm-12">
				{$DATENSG_CHECKBOX} {#text_accept_datensg#}{$BUTTON_PRINT}
			</div><br>
		</fieldset><br>
		{/if}
		<br>
		<div class="ar text-right" id="create_account_button">{$BUTTON_SUBMIT}</div>
		<br>
		{$FORM_END}
	</div>
	</div>
</div>
