{config_load file="lang/$language/lang_$language.conf" section="blog"}
<article class="post">
	<b class="ueberschrift">Blog News</b>
		{foreach name=aussen item=module_data from=$blog_items}
			<div class="blog_item col-xs-12">
				<div class="datum">
					<p>
						<span class="monat">{$module_data.monat}</span>
						<span class="tag">{$module_data.tag}</span>
						<span class="jahr">{$module_data.jahr}</span>
					</p>
				</div>
				<div class="blog_text_startseite">
					<h3 class="blog_h3_startseite"><a href="{$module_data.blog_link}">{$module_data.name}</a></h3>
					{if $module_data.image}
						<div class="fl">{$module_data.image}&nbsp;</div>
					{/if}
					{if $module_data.image}
						<div class="fl">
					{/if}
					{$module_data.description}
					{if $module_data.image}
						</div>
					{/if}
					<div class="row">
						<div class="col-xs-12 fl">
							<br><a href="{$module_data.blog_link}"><span class="css_img_button">{#read_more#}</span></a>
						</div>
					</div>
				</div>
			</div>
		{/foreach}
</article>