{load_language_text section="account"}

<table width="100%" border="0" cellspacing="0" cellpadding="0">	<tr>		<td class="moduleHeading" align="left">{$txt.heading_rma}</td>	</tr></table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="main">{$txt.text_first}</td>
  </tr>
  <tr>
    <td><p><a href="{$RMA_STEP2}"><u>{$txt.text_rma_link}</u></a></p></td>
  </tr>
  <tr>
    <td class="main"><fieldset>{$txt.text_info}</fieldset></td>
  </tr>

</table>