{$FORM}
<div class="row">
	<div class="pull-left">
	<h1>{if $TITLE}{$txt.TITE_BLOG_CAT_EDIT} - {$TITLE}{else}{$txt.TITE_BLOG_CAT_NEW}{/if}</h1>
	</div>
	<div class="pull-right">
		<input class="btn btn-success" type="submit" value="{$txt.BUTTON_SAVE}" />
		<a class="btn btn-default" href="blog.php">{$txt.BUTTON_CANCEL}</a>
	</div>
</div>
<div class="row">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#Kategorien" data-toggle="tab">{$txt.HEADING_TITLE}</a></li>
		{foreach name=catedit item=module_cat from=$CAT_EDIT}
		<li><a href="#{$module_cat.langname}" data-toggle="tab">{$module_cat.lang_images} {$module_cat.langname}</a></li>
		{/foreach}
		<li><a href="#gallery" data-toggle="tab">{$txt.BILDERGAL}</a></li>
		<li><a href="#topmenue" data-toggle="tab">{$txt.TOPMENUE}</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade in active" id="Kategorien">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title"><b>{$txt.CHOOSE_CATEGORIE}</b></div>
				</div>
				<div class="panel-body">{$CATEDIT}</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><b>{$txt.SORTIERUNG}</b></h3>
				</div>
				<div class="panel-body">
					<input type="radio" name="itemsort" value="1" {if $ITEMSOR == 1 || $ITEMSOR ==''}checked="checked"{else}{/if}> {$txt.SORTIERUNG1}<br>
					<input type="radio" name="itemsort" value="2" {if $ITEMSOR == 2}checked="checked"{else}{/if}> {$txt.SORTIERUNG2}<br>
					<input type="radio" name="itemsort" value="3" {if $ITEMSOR == 3}checked="checked"{else}{/if}> {$txt.SORTIERUNG3}<br>
					<input type="radio" name="itemsort" value="4" {if $ITEMSOR == 4}checked="checked"{else}{/if}> {$txt.SORTIERUNG4}<br>
					<input type="radio" name="itemsort" value="5" {if $ITEMSOR == 5}checked="checked"{else}{/if}> {$txt.SORTIERUNG5}<br>
				<hr>
					<input type="radio" name="itemsortart" value="1" {if $ITEMSORART == 1 || $ITEMSOR ==''}checked="checked"{else}{/if}>{$txt.UP}<br>
					<input type="radio" name="itemsortart" value="2" {if $ITEMSORART == 2}checked="checked"{else}{/if}>{$txt.DOWN}<br>
				</div>
			</div>
			{if $KGRUPPE}
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title"><b>{$KGRUPPE}</b></div>
				</div>
				<div class="panel-body">
					{foreach name=catedit item=module_grp from=$GRUPPE}
						{$module_grp.KGRUPPE}
					{/foreach}
				</div>
			</div>
			{/if}
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title"><b>{$txt.FOOTER_STATUS}</b></div>
				</div>
				<div class="panel-body">{$status}</div>
			</div>
		</div>
		{foreach name=catedit item=module_cat from=$CAT_EDIT}
		<div class="tab-pane fade in" id="{$module_cat.langname}">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title"><b>{$txt.HEADING_NEWCATEGORIE_NAME}</b></div>
				</div>
				<table class="table table-striped">
					<tr>
						<td class="col-xs-3"><b>{$txt.HEADING_SLIDERSET}</b></td>
						<td class="col-xs-9">{$module_cat.field_slider}</td>
					</tr>
					<tr>
						<td><b>{$txt.NAME}</b></td>
						<td>{$module_cat.fieldname}</td>
					</tr>
					<tr>
						<td><b>{$txt.POSITION}</b></td>
						<td>{$module_cat.fieldposition}</td>
					</tr>
					<tr>
						<td><b>{$txt.HEADING_CANONICAL}</b></td>
						<td>{$module_cat.canonical}</td>
					</tr>
					<tr>
						<td><b>{$txt.HEADING_META_TITLE}:</b></td>
						<td>{$module_cat.field_mtitle}</td>
					</tr>
					<tr>
						<td><b>{$txt.HEADING_META_DESCRIPTION}:</b></td>
						<td>{$module_cat.field_mdesc}</td>
					</tr>
					<tr>
						<td><b>{$txt.HEADING_META_KEYWORDS}:</b></td>
						<td>{$module_cat.field_mkeys}</td>
					</tr>
				</table>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title"><b>{$txt.TABLE_HEADING_SHORT_DESCRIPTION}</b></div>
				</div>
				<div class="panel-body">
					{$module_cat.field_sdesc}          
				</div>
			</div>        

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title"><b>{$txt.TABLE_BLOG_LONG_DESC}</b></div>
				</div>
				<div class="panel-body">
					{$module_cat.field_ldesc}
					{$module_cat.field_sdesc_wy}
				</div>
			</div>
		</div>
		{/foreach}
		<div class="tab-pane fade in" id="gallery">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title"><b>{$txt.BILDERGAL}</b></div>
				</div>
				<table class="table table-striped">
					{foreach name=bilder item=module_img from=$BILDER}
					<tr>
						<td><b>{$module_img.bildfeld1}</b></td>
						<td>
							{if $module_img.bildfeld0 !=''}
							{$module_img.bildfeld2}
							{$module_img.bildfeld3}<br>
							{$module_img.bildfeld4}
							{else}
							{$module_img.bildfeld5}
							{/if}
						</td>
						</tr>
					{/foreach}
				</table>
			</div>
		</div>
		<div class="tab-pane fade in" id="topmenue">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title"><b>{$txt.TOPMENUE}</b></div>
				</div>		
				<div class="panel-body">
					{$TM_SELECT}
					{$TMCATID}
					<div class="panel-body">{$TMSELECT} {$txt.TOPMENUE_SEL}</div><hr>
					<div class="panel-body">{$CATEDIT2}</div>
					{$txt.TOPMENUE_BES}
					<hr>
					<div class="panel-body">{$TMPOS} {$txt.TOPMENUE_SORT}</div>
				</div>
			</div>
		</div>
	</div>
</div>
{$action}{$catid}
<div class="row">
	<div class ="col-xs-12 text-right">
		<input class="btn btn-success" type="submit" value="{$txt.BUTTON_SAVE}" />
		<a class="btn btn-default" href="blog.php">{$txt.BUTTON_CANCEL}</a>
	</div>
</div>
{$FORM_END}