{$FORM}
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">{$txt.BEIBEARB}</h4>
		</div>	
		<div class="modal-body">
			<b>{$txt.POSITION}</b>

			{$BIPOS}
			<br><br>
			<b>{$txt.HEADING_BIART2}</b>

			{$MEBART}
			<input type="hidden" value="Blogbeitrag" name="safe" />
			<input type="hidden" value="{$oldid}" name="oldid" />
			<input type="hidden" value="{$cat}" name="cat" />
			<input type="hidden" value="{$ITEM}" name="item_id" />
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-success" data-dismiss="modal">{$txt.BUTTON_CANCEL}</button>
			<button type="submit" class="btn btn-primary">{$txt.BUTTON_SAVE}</button>
		</div>
	</div>
{$FORM_END}
