<div class="row">
	<hr>
</div>

{foreach name=blogkats item=module_blog from=$blogkat}
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
			<div class="col-lg-1 col-md-1 col-xs-12 col-sm-12">
				{$module_blog.cat_status}
			</div>
			<div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{$module_blog.catid}">
					{$module_blog.catname}
					{$module_blog.cateigen}
				</a>
				</h4>
			</div>
			<div class="col-lg-1 col-md-1 col-xs-12 col-sm-12">
				{$txt.POSITION}: {$module_blog.position}
			</div>
			<div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
				{$txt.AKTION}: 
				<a href="{$module_blog.linknew}">{$module_blog.linknew_pic}</a>
				<a href="{$module_blog.linkeditcat}">{$module_blog.linkeditcat_pic}</a>
			</div>
			<br class="clearfix">
		</div>
		
	
		
		<div id="collapseOne{$module_blog.catid}" class="panel-collapse collapse">
			<div class="panel-body">
				{if $module_blog.un_cats}
					<h4>Unterkategorien</h4>
					{foreach name=blogucats item=module_ucats from=$module_blog.un_cats}
					<div class="panel panel-info">
							<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
								{$module_ucats.cat_status}
							</div>
							<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<h4>
								<a href="blog.php?ucatid={$module_blog.catid}">
									{$module_ucats.catname}
									{$module_ucats.cateigen}
								</a>
							</h4>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
								{$txt.POSITION}: {$module_ucats.position}
							</div>
							<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
							{$txt.AKTION}: 
							<a href="{$module_ucats.linknew}">{$module_ucats.linknew_pic}</a>
							<a href="{$module_ucats.linkeditcat}">{$module_ucats.linkeditcat_pic}</a>
							</div>
					</div>
					{/foreach}

				{/if}
				{if $module_blog.items}
					<h4>{$txt.BEIT}</h4>
						<b>
							<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
								Status
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								Titel
							</div>
							<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
								Position
							</div>
							<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
								Aktion
							</div>
						</b>

					{foreach name=blogitems item=module_item from=$module_blog.items}
						<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
							{if $module_item.status == 2}
							<a class="btn  btn-success btn-xs" href="blog.php?action=set&set_item_status=2&itemid={$module_item.itemid}">Online</a>
							&nbsp;
							<a class="btn btn-default  btn-xs" href="blog.php?action=set&set_item_status=1&itemid={$module_item.itemid}">Offline</a>
							{else}
							<a class="btn btn-default btn-xs" href="blog.php?action=set&set_item_status=2&itemid={$module_item.itemid}">Online</a>
							&nbsp;
							<a class="btn btn-danger  btn-xs" href="blog.php?action=set&set_item_status=1&itemid={$module_item.itemid}">Offline</a>
							{/if}
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
							{$module_item.titel}
						</div>
						<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
							{$module_item.position}
						</div>
						<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
							{$module_item.aktion}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$module_item.aktion2}
						</div>	
						</div>	
					{/foreach}

				{/if}
		</div>
	</div>
	</div>
</div>
{/foreach}

<div class="row">
	<hr>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
		<h3>{$txt.FOOTER_STATUS}</h3>
		<div class="form-group">{$blogstatus}

			<input type="submit" class="btn btn-info" value="Status &auml;ndern" /></div>
	</div>
</div>
{$FORM_END}

