{$FORM}
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">{$txt.SLIDERHEAD}</h4>
		</div>	
		<div class="modal-body">	
				<div class="panel-body">

					<b>{$txt.SLIDERCONF}</b><br>
					<div class="panel panel-info">
						<div class="panel-heading">{$txt.BREITE}:</div>
						<div class="panel-body">{$BILDER2.width}</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">{$txt.HOHE}:</div>
						<div class="panel-body">{$BILDER2.height}</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">{$txt.FLOAT}:</div>
						<div class="panel-body">{$BILDER2.floating}</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">{$txt.POSITION}:</div>
						<div class="panel-body">{$BILDER2.position}</div>
					</div>	
					<div class="row">
						<div class ="col-md-12 col-xs-12 col-lg-12 col-sm-12 text-right">
							<input class="btn btn-success" type="submit" value="{$txt.BUTTON_SAVE}" />
							<a class="btn btn-default" href="blog.php">{$txt.BUTTON_CANCEL}</a>
						</div>
					</div>					
				<b>{$txt.SLIDBILD}</b><br>
				{foreach name=bilder item=module_img from=$BILDER}
				<div class="panel panel-info">
					<div class="panel-heading">{$module_img.bildfeld1}</div>
					<div class="panel-body">
							{if $module_img.bildfeld0 !=''}
							{$module_img.bildfeld2}
							{$module_img.bildfeld3}<br>
							{$module_img.bildfeld4}
							{else}
							{$module_img.bildfeld5}
							{/if}

					</div>
				</div>
				{/foreach}		
				</div>
			
			
			<input type="hidden" value="Slider" name="safe" />
			<input type="hidden" value="{$oldid}" name="oldid" />
			<input type="hidden" value="{$cat}" name="cat" />
			<input type="hidden" value="{$ITEM}" name="item_id" />
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-success" data-dismiss="modal">{$txt.BUTTON_CANCEL}</button>
			<button type="submit" class="btn btn-primary">{$txt.BUTTON_SAVE}</button>
		</div>
	</div>
{$FORM_END}