{$FORM}
<div class="row">
	<div class ="col-xs-12">
		<h3>{$txt.HEADING_DEFAULT}</h3>
	</div>
	<hr>
</div>
<div class="row">
	<div class ="col-xs-12 text-right">
		<input class="btn btn-success" type="submit" value="{$txt.BUTTON_SAVE}" />
		<a class="btn btn-default" href="blog.php">{$txt.BUTTON_CANCEL}</a>
	</div>
	<hr>
</div>
<table class="table table-striped">
{foreach name=blogkey item=module_key from=$blogkey}
<tr>
<td>{$module_key.titel}</td>
  <td>{$module_key.radio}</td>
  <td>{$module_key.desc}</td>
</tr>
{/foreach}
</table>
<div class="row">
	<div class ="col-xs-12 text-right">
		<input class="btn btn-success" type="submit" value="{$txt.BUTTON_SAVE}" />
		<a class="btn btn-default" href="blog.php">{$txt.BUTTON_CANCEL}</a>
	</div>
	<hr>
</div>
{$FORM_END}
