<div class="row">
		<div class ="col-md-12 col-xs-12 col-lg-12 col-sm-12">
			<h2>{$TITLE}</h2>
		</div>
		<div class="blogmenue">
			<div class="topbutton navbar-inverse"><a href="{$FILENAME_BLOG}">{$TABLE_HEADING_NAVIGATION_OVERVIEW}</a></div>
			<div class="topbutton navbar-inverse"><a href="{$FILENAME_BLOG}?action=newcategorie">{$TABLE_HEADING_NAVIGATION_NEWCATEGORIE}</a></div>
			<div class="topbutton navbar-inverse"><a href="{$FILENAME_BLOG}?action=startsite">{$TABLE_HEADING_NAVIGATION_STARTSITE}</a></div>
			<div class="topbutton navbar-inverse"><a href="{$FILENAME_BLOG}?action=settings">{$TABLE_HEADING_NAVIGATION_SETTINGS}</a></div>
			<div class="topbutton navbar-inverse"><a href="{$FILENAME_BLOG}?action=comments">{$txt.TABLE_HEADING_NAVIGATION_COMMENTS} {$COUNTER}</a></div>
		</div>
		{if $MODULE_blog_categories_list}
		<form method="post" action="{$FILENAME_BLOG}?action=set" name="leiste">
		<div class="blogmenue2">
		  {$MODULE_blog_categories_list}
		</div>
		{/if}
		{if $MODULE_blog_categories_edit}
		<div class="blogmenue2">
		  {$MODULE_blog_categories_edit}
		</div>
	    {/if}
		{if $MODULE_blog_start}
		<div class="blogmenue2">
		  {$MODULE_blog_start}
		</div>
	    {/if}
		{if $MODULE_blog_settings}
		<div class="blogmenue2">
		  {$MODULE_blog_settings}
		</div>
	    {/if}
		{if $MODULE_blog_comments}
		<div class="blogmenue2">
		  {$MODULE_blog_comments}
		</div>
	    {/if}
		</form>
</div>

{literal}
<script type="text/javascript">
  function checkboxes(wert) {
    var my = document.leiste;
    var len = my.length;

    for (var i = 0; i < len; i++) {
      var e = my.elements[i];
      if (e.name == "status[]") {
        e.checked = wert;
      }
    }
  }
</script>
{/literal}