{if $BOX_LIST == 'true'}
<div class="row">
    <div class="col-md-12">
        <h1><span class="glyphicon glyphicon-th-large"></span> {$txt.heading_box_manager}</h1>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
		{$FORMSORT}
		<table class="table table-bordered table-striped">
			<tr>
				<td>{$txt.filter}</td>
				<td class="text-center">{$txt.filter_name} {$BOXFILTERNAME}</td>
				<td class="text-center">{$txt.filter_intern} {$BOXFILTERINTERN}</td>
				<td class="text-center">{$txt.filter_position} {$BOXFILTERPOSITION}</td>
				<td class="text-center">{$txt.filter_aktiv} {$BOXFILTERAKTIV}</td>
				<td class="text-center">{$txt.filter_mobileaktiv} {$BOXFILTERMOBILEAKTIV}</td>
				<td class="text-center">{$txt.filter_nameaktiv} {$BOXFILTERNAMEAKTIV}</td>
				<td class="text-center">{$BOX_NEW}</td>
				<td class="text-center">{$BOX_NEW_POS}</td>
			</tr>
		</table>
		{$HIDDENSORT}
		{$FORMEND}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>{$txt.heading_name} {$BOX_SORT_TITLE}</th>
                <th>{$txt.heading_name_intern} {$BOX_SORT_NAME}</th>
                <th>{$txt.heading_position} {$BOX_SORT_POSITION}</th>
                <th>{$txt.heading_sort} {$BOX_SORT_SORT}</th>
                <th>{$txt.heading_active} {$BOX_SORT_STATUS}</th>
                <th>{$txt.heading_mobile} {$BOX_SORT_MOBILE}</th>
                <th>{$txt.heading_active_name} {$BOX_SORT_NAMESTATUS}</th>
                <th>{$txt.heading_typ} {$BOX_SORT_TYP}</th>
                <th>{$txt.heading_delete}</th>
            </tr>
            {foreach name=aussen item=module_data from=$boxlistarray}
            <tr>
                <td>{$module_data.BOX_TITLE} {$module_data.BOX_EDIT}</td>
                <td>{$module_data.BOX_NAME} {$module_data.BOX_EDIT}</td>
                <td>{$module_data.BOX_POSITION}</td>
                <td>{$module_data.BOX_SORT_ID}</td>
                <td id="box_bs_{$module_data.BOX_BID}">{$module_data.BOX_STATUS}</td>
                <td id="box_bm_{$module_data.BOX_BMID}">{$module_data.BOX_MOBILE}</td>
                <td id="box_bn_{$module_data.BOX_BNID}">{$module_data.BOX_N_STATUS}</td>
                <td>{$module_data.BOX_TYPE}</td>
                <td>{$module_data.BOX_TYPE_LINK}</td>

            </tr>
            {/foreach}
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		{$FORMSORT}
		<table class="table table-bordered table-striped">
			<tr>
				<td>{$txt.filter}</td>
				<td class="text-center">{$txt.filter_name} {$BOXFILTERNAME}</td>
				<td class="text-center">{$txt.filter_intern} {$BOXFILTERINTERN}</td>
				<td class="text-center">{$txt.filter_position} {$BOXFILTERPOSITION}</td>
				<td class="text-center">{$txt.filter_aktiv} {$BOXFILTERAKTIV}</td>
				<td class="text-center">{$txt.filter_mobileaktiv} {$BOXFILTERMOBILEAKTIV}</td>
				<td class="text-center">{$txt.filter_nameaktiv} {$BOXFILTERNAMEAKTIV}</td>
				<td class="text-center">{$BOX_NEW}</td>
				<td class="text-center">{$BOX_NEW_POS}</td>
			</tr>
		</table>
		{$HIDDENSORT}
		{$FORMEND}
    </div>
</div>
{/if}

{if $BOX_NEW == 'true'}
{$FORM}
<div class="row">
    <div class="col-md-8">
        <h4><span class="glyphicon glyphicon-th-large"></span> {$txt.heading_new_box}</h4>
    </div>
    <div class="col-md-4 text-right">
        {$BUTTON_SUBMIT}
        {$BUTTON_CANCEL}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>{$txt.box_config}</th>
                <th>{$txt.box_name}</th>
            </tr>
            <tr>
                <td>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>{$txt.box_position}</td>
                            <td>{$NEW_POSITION}</td>
                        </tr>
                        <tr>
                            <td>{$txt.box_sort}</td>
                            <td>{$NEW_SORT}</td>
                        </tr>
                        <tr>
                            <td>{$txt.box_status}</td>
                            <td>{$NEW_STATUS}</td>
                        </tr>
                        <tr>
                            <td>{$txt.box_mobile}</td>
                            <td>{$NEW_NAME_MOBILE}</td>
                        </tr>
                        <tr>
                            <td>{$txt.box_status_title}</td>
                            <td>{$NEW_NAME_STATUS}</td>
                        </tr>
                        <tr>
                            <td>{$txt.box_type}</td>
                            <td>{$BOX_TYPE}</td>
                        </tr>
                        <tr>
                            <td>{$txt.box_intern}</td>
                            <td>{$NEW_NAME}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>
								<div class="tab-content">
									{foreach name=blogedit item=module_edit from=$boxnewarray}
										<div class ="row">
											<div class ="col-md-2 col-xs-12 col-lg-2 col-sm-12">
												{$module_edit.lang_images}&nbsp;{$txt.box_title}
											</div>
											<div class ="col-md-6 col-xs-12 col-lg-6 col-sm-12">
												{$module_edit.boxtitle}
											</div>
										</div>
										<div class ="row">
											<div class ="col-md-2 col-xs-12 col-lg-2 col-sm-12">
												{$module_edit.lang_images}&nbsp;{$txt.box_text}
											</div>
											<div class ="col-md-10 col-xs-12 col-lg-10 col-sm-12">
												{$module_edit.boxtextfiled}
												{if $module_edit.field_sdesc_wy == '1'}
												<script type="text/javascript">
													var newCKEdit = CKEDITOR.replace(new_box_{$module_edit.langid});
															CKFinder.setupCKEditor(newCKEdit, 'includes/editor/ckfinder/');
												</script>
												{/if}
											</div>
										</div>
									<hr>
									{/foreach}
								</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
{$HIDDEN_SAVE}
{$HIDDEN_NAME}

<div class="row">
    <div class="col-md-12 text-right">
        {$BUTTON_SUBMIT}
        {$BUTTON_CANCEL}
    </div>
    <br>
</div>

{$SCRIPT}
{$FORM_END}
{/if}



{if $BOX_EDIT == 'true'}
{$FORM}
<div class="row">
    <div class="col-md-8">
        <h4><span class="glyphicon glyphicon-th-large"></span> {$txt.heading_edit_box}</h4>
    </div>
    <div class="col-md-4 text-right">
        {$BUTTON_SUBMIT}
        {$BUTTON_CANCEL}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>{$txt.heading_title}</th>
                <th>{$txt.heading_position}</th>
                <th>{$txt.heading_sort}</th>
                <th>{$txt.box_active}</th>
                <th>{$txt.box_mobile}</th>
                <th>{$txt.box_active_name}</th>

            </tr>
            <tr>
                <td>
                    {foreach name=boxedit item=module_boxedit from=$boxeditarray}
						{$module_boxedit.lang_images}&nbsp;{$module_boxedit.langname}: {$module_boxedit.boxtitle}<br>
                    {/foreach}
                </td>
                <td>{$BOX_POSITION}</td>
                <td>{$BOX_SORT}</td>
                <td>{$BOX_STATUS}</td>
                <td>{$BOX_MOBILE}</td>
                <td>{$BOX_NAME_STATUS}</td>
            </tr>
        </table>
    </div>
</div>
{$HIDDEN}

<div class="row">
    <div class="col-md-12 text-right">
        {$BUTTON_SUBMIT}
        {$BUTTON_CANCEL}
    </div>
    <br>
</div>

{$SCRIPT}
{$FORM_END}
{/if}

{if $BOX_NEW_POS == 'true'}
{$FORM}
<div class="row">
    <div class="col-md-8">
        <h4><span class="glyphicon glyphicon-th-large"></span> {$txt.heading_new_box}</h4>
    </div>
    <div class="col-md-4 text-right">
        {$BUTTON_SUBMIT}
        {$BUTTON_CANCEL}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>{$txt.box_config}</th>
                <th>{$txt.box_name}</th>
            </tr>
            <tr>
				<td>{$txt.box_position}</td>
				<td>{$BOX_POS_NAME}</td>
             </tr>
        </table>
    </div>
</div>
{$HIDDEN_SAVE}

<div class="row">
    <div class="col-md-12 text-right">
        {$BUTTON_SUBMIT}
        {$BUTTON_CANCEL}
    </div>
    <br>
</div>

{$FORM_END}
{/if}
