
<div class="row">
    <div class="col-md-12">
        <h1><span class="glyphicon glyphicon-file"></span> {$txt.heading_logo}</h1>
    </div>
	<hr>
</div>

<div class="row">
    <div class="col-md-12">
	{$LOGO_FORM}
        <table class="table table-bordered">
            <tr>
                <th>{$txt.heading_verwendung}</th>
                <th>{$txt.heading_logofile}</th>
                <th>{$txt.heading_logoname}</th>
                <th>{$txt.heading_file}</th>
                <th>{$txt.heading_action}</th>
            </tr>
			<tr>
            <td>{$txt.logo_upload}</td>
            <td>{$LOGO_IMAGE}</td>
            <td>{$LOGO_NAME}</td>
            <td>{$LOGO_FILE}</td>
            <td>{$BUTTON_SUBMIT}</td>
            </tr>
			{$FORM_END}
			{$MAIL_FORM}
			<tr>
            <td>{$txt.logo_email}</td>
            <td>{$MAIL_IMAGE}</td>
            <td>{$MAIL_NAME}</td>
            <td>{$MAIL_FILE}</td>
            <td>{$BUTTON_SUBMIT}</td>
            </tr>
			{$FORM_END}
			{$PDF_FORM}
			<tr>
            <td>{$txt.logo_pdf}</td>
            <td>{$PDF_IMAGE}</td>
            <td>{$PDF_NAME}</td>
            <td>{$PDF_FILE}</td>
            <td>{$BUTTON_SUBMIT}</td>
            </tr>
			{$FORM_END}
        </table>
    </div>
</div>


