<div class="row">
    <div class="col-xs-12">
        <h3>{$txt.HEADING_DEFAULT}</h3>
    </div>
    <hr>
</div>
{if $NEW == 1}
{$FORM}
{$HIDDEN}
<div class="row">
    <div class="col-xs-12 text-right">
        {$BUTTONS}
    </div>
    <hr>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<b>Sliderkonfig</b>
</h3>
</div>
<table class="table table-striped">
    <tr>
        <td class="col-xs-3">{$txt.TEXT_GALERIES_TITLE}</td>
        <td class="col-xs-9">{$SLIDER_NAME}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LANG}</td>
        <td>{$SLIDER_LANG}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_MOBILE}</td>
        <td>{$SLIDER_MOBILE}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_SLIDER_NAV_STATUS}</td>
        <td>{$SLIDER_NAV_STATUS}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_SIZE}</td>
        <td>{$SLIDER_SIZE}</td>
    </tr>
</table>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<b>Sliderbild 1</b>
</h3>
</div>	
<table class="table table-striped">	
    <tr>
        <td class="col-xs-3">{$txt.TEXT_GALERIES_URL}</td>
        <td class="col-xs-9">{$SLIDER_URL}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LINK_TEXT}</td>
        <td>{$SLIDER_LINK_TEXT}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DESC}</td>
        <td>{$SLIDER_DESC}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_UPLOAD}</td>
        <td>{$SLIDER_IMAGE}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_USE}</td>
        <td>{$SLIDER_IMAGE_USE}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_PREVIEW}</td>
        <td>{$SLIDER_PREVIEW}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DELETE}</td>
        <td>{$SLIDER_IMAGE_DELETE_1}</td>
    </tr>
</table>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<b>Sliderbild 2</b>
</h3>
</div>	
<table class="table table-striped">	
    <tr>
        <td class="col-xs-3">{$txt.TEXT_GALERIES_URL}</td>
        <td class="col-xs-9">{$SLIDER_URL_2}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LINK_TEXT}</td>
        <td>{$SLIDER_LINK_TEXT_2}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DESC}</td>
        <td>{$SLIDER_DESC_2}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_UPLOAD}</td>
        <td>{$SLIDER_IMAGE_2}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_USE}</td>
        <td>{$SLIDER_IMAGE_USE_2}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_PREVIEW}</td>
        <td>{$SLIDER_PREVIEW_2}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DELETE}</td>
        <td>{$SLIDER_IMAGE_DELETE_2}</td>
    </tr>
</table>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<b>Sliderbild 3</b>
</h3>
</div>	
<table class="table table-striped">
    <tr>
        <td class="col-xs-3">{$txt.TEXT_GALERIES_URL}</td>
        <td class="col-xs-9">{$SLIDER_URL_3}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LINK_TEXT}</td>
        <td>{$SLIDER_LINK_TEXT_3}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DESC}</td>
        <td>{$SLIDER_DESC_3}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_UPLOAD}</td>
        <td>{$SLIDER_IMAGE_3}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_USE}</td>
        <td>{$SLIDER_IMAGE_USE_3}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_PREVIEW}</td>
        <td>{$SLIDER_PREVIEW_3}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DELETE}</td>
        <td>{$SLIDER_IMAGE_DELETE_3}</td>
    </tr>
</table>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<b>Sliderbild 4</b>
</h3>
</div>	
<table class="table table-striped">
    <tr>
        <td class="col-xs-3">{$txt.TEXT_GALERIES_URL}</td>
        <td class="col-xs-9">{$SLIDER_URL_4}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LINK_TEXT}</td>
        <td>{$SLIDER_LINK_TEXT_4}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DESC}</td>
        <td>{$SLIDER_DESC_4}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_UPLOAD}</td>
        <td>{$SLIDER_IMAGE_4}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_USE}</td>
        <td>{$SLIDER_IMAGE_USE_4}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_PREVIEW}</td>
        <td>{$SLIDER_PREVIEW_4}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DELETE}</td>
        <td>{$SLIDER_IMAGE_DELETE_4}</td>
    </tr>
</table>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<b>Sliderbild 5</b>
</h3>
</div>	
<table class="table table-striped">
    <tr>
        <td class="col-xs-3">{$txt.TEXT_GALERIES_URL}</td>
        <td class="col-xs-9">{$SLIDER_URL_5}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LINK_TEXT}</td>
        <td>{$SLIDER_LINK_TEXT_5}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DESC}</td>
        <td>{$SLIDER_DESC_5}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_UPLOAD}</td>
        <td>{$SLIDER_IMAGE_5}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_USE}</td>
        <td>{$SLIDER_IMAGE_USE_5}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_PREVIEW}</td>
        <td>{$SLIDER_PREVIEW_5}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DELETE}</td>
        <td>{$SLIDER_IMAGE_DELETE_5}</td>
    </tr>
</table>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<b>Sliderbild 6</b>
</h3>
</div>	
<table class="table table-striped">
    <tr>
        <td class="col-xs-3">{$txt.TEXT_GALERIES_URL}</td>
        <td class="col-xs-9">{$SLIDER_URL_6}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LINK_TEXT}</td>
        <td>{$SLIDER_LINK_TEXT_6}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DESC}</td>
        <td>{$SLIDER_DESC_6}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_UPLOAD}</td>
        <td>{$SLIDER_IMAGE_6}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_USE}</td>
        <td>{$SLIDER_IMAGE_USE_6}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_PREVIEW}</td>
        <td>{$SLIDER_PREVIEW_6}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DELETE}</td>
        <td>{$SLIDER_IMAGE_DELETE_6}</td>
    </tr>
</table>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<b>Sliderbild 7</b>
</h3>
</div>	
<table class="table table-striped">
    <tr>
        <td class="col-xs-3">{$txt.TEXT_GALERIES_URL}</td>
        <td class="col-xs-9">{$SLIDER_URL_7}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LINK_TEXT}</td>
        <td>{$SLIDER_LINK_TEXT_7}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DESC}</td>
        <td>{$SLIDER_DESC_7}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_UPLOAD}</td>
        <td>{$SLIDER_IMAGE_7}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_USE}</td>
        <td>{$SLIDER_IMAGE_USE_7}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_PREVIEW}</td>
        <td>{$SLIDER_PREVIEW_7}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DELETE}</td>
        <td>{$SLIDER_IMAGE_DELETE_7}</td>
    </tr>
</table>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<b>Sliderbild 8</b>
</h3>
</div>	
<table class="table table-striped">
    <tr>
        <td class="col-xs-3">{$txt.TEXT_GALERIES_URL}</td>
        <td class="col-xs-9">{$SLIDER_URL_8}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LINK_TEXT}</td>
        <td>{$SLIDER_LINK_TEXT_8}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DESC}</td>
        <td>{$SLIDER_DESC_8}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_UPLOAD}</td>
        <td>{$SLIDER_IMAGE_8}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_USE}</td>
        <td>{$SLIDER_IMAGE_USE_8}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_PREVIEW}</td>
        <td>{$SLIDER_PREVIEW_8}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DELETE}</td>
        <td>{$SLIDER_IMAGE_DELETE_8}</td>
    </tr>
</table>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<b>Text</b>
</h3>
</div>	
<table class="table table-striped">
    <tr>
		<td class="col-xs-3">{$txt.TEXT_GALERIES_TEXTFIELD}</td>
        <td class="col-xs-9">{$SLIDER_TEXFILED}</td>
    </tr>
</table>
</div>


<div class="row">
    <div class="col-xs-12 text-right">
        {$BUTTONS}
    </div>
    <hr>
</div>
{$FORM_END}
{else}

<div class="row">
    <table class="table">
	<tr>
	<td class="col-xs-9">
        <table class="table table-striped">
            <tr>
                <th>{$txt.TABLE_HEADING_LANG}</th>
                <th>{$txt.TABLE_HEADING_GALERIES}</th>
                <th>{$txt.TABLE_HEADING_STATUS}</th>
                <th>{$txt.TABLE_HEADING_MOBILE_STATUS}</th>
                <th>{$txt.TABLE_HEADING_TAG_COUNT}</th>
                <th>{$txt.TABLE_HEADING_PRODUCT_COUNT}</th>
                <th class="text-right">{$txt.TABLE_HEADING_ACTION}</th>
            </tr>
            {foreach name=aussen item=module_data from=$sliderlistarray}
            {$module_data.TR}
            <td>{$module_data.LANG}</td>
            <td>{$module_data.TITLE}</td>
            <td>{$module_data.STATUS}</td>
            <td>{$module_data.MOBILE_STATUS}</td>
            <td>{$module_data.TAG_COUNT}</td>
            <td>{$module_data.PRODUCT_COUNT}</td>
            <td class="text-right">{$module_data.ACTION} {$module_data.EDIT}</td>
            </tr>
            {/foreach}
        </table>
		<table class="table">
			<tr>
				<td><i>{$DISPLAY_NUMBER}</i></td>
				<td align="right"><i>{$DISPLAY_SITE}</i></td>
			</tr>
		</table>
		<table class="table">
			<tr>
				<td class="text-right"><a href="{$BUTTON_NEW}"><button class="btn btn-success">{$txt.BUTTON_NEW_ELEMENT}</button></a></td>
			</tr>
		</table>
    </td>
    <td class="col-xs-3">
        {$SITE_BOX}
    </td>
    </tr>
    </table>
</div>
{/if}