<div class="row">
    <div class ="col-xs-12">
        <h3>{$txt.HEADING_DEFAULT}</h3>
    </div>
    <hr>
</div>
{if $NEW == 1}
{$FORM}
{$HIDDEN}
<div class="row">
    <div class ="col-xs-12 text-right">
        {$BUTTONS}
    </div>
    <hr>
</div>

<table class="table table-striped">
    <tr>
        <td>{$txt.TEXT_GALERIES_TITLE}</td>
        <td>{$SLIDER_NAME}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LANG}</td>
        <td>{$SLIDER_LANG}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_SIZE}</td>
        <td>{$SLIDER_SIZE}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_URL}</td>
        <td>{$SLIDER_URL}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LINK_TEXT}</td>
        <td>{$SLIDER_LINK_TEXT}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DESC}</td>
        <td>{$SLIDER_DESC}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_UPLOAD}</td>
        <td>{$SLIDER_IMAGE}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_USE}</td>
        <td>{$SLIDER_IMAGE_USE}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_PREVIEW}</td>
        <td>{$SLIDER_PREVIEW}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DELETE}</td>
        <td>{$SLIDER_IMAGE_DELETE_1}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_URL}</td>
        <td>{$SLIDER_URL_2}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LINK_TEXT}</td>
        <td>{$SLIDER_LINK_TEXT_2}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DESC}</td>
        <td>{$SLIDER_DESC_2}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_UPLOAD}</td>
        <td>{$SLIDER_IMAGE_2}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_USE}</td>
        <td>{$SLIDER_IMAGE_USE_2}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_PREVIEW}</td>
        <td>{$SLIDER_PREVIEW_2}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DELETE}</td>
        <td>{$SLIDER_IMAGE_DELETE_2}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_URL}</td>
        <td>{$SLIDER_URL_3}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LINK_TEXT}</td>
        <td>{$SLIDER_LINK_TEXT_3}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DESC}</td>
        <td>{$SLIDER_DESC_3}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_UPLOAD}</td>
        <td>{$SLIDER_IMAGE_3}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_USE}</td>
        <td>{$SLIDER_IMAGE_USE_3}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_PREVIEW}</td>
        <td>{$SLIDER_PREVIEW_3}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DELETE}</td>
        <td>{$SLIDER_IMAGE_DELETE_3}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_URL}</td>
        <td>{$SLIDER_URL_4}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LINK_TEXT}</td>
        <td>{$SLIDER_LINK_TEXT_4}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DESC}</td>
        <td>{$SLIDER_DESC_4}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_UPLOAD}</td>
        <td>{$SLIDER_IMAGE_4}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_USE}</td>
        <td>{$SLIDER_IMAGE_USE_4}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_PREVIEW}</td>
        <td>{$SLIDER_PREVIEW_4}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DELETE}</td>
        <td>{$SLIDER_IMAGE_DELETE_4}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_URL}</td>
        <td>{$SLIDER_URL_5}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_LINK_TEXT}</td>
        <td>{$SLIDER_LINK_TEXT_5}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DESC}</td>
        <td>{$SLIDER_DESC_5}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_UPLOAD}</td>
        <td>{$SLIDER_IMAGE_5}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_IMAGE_USE}</td>
        <td>{$SLIDER_IMAGE_USE_5}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_PREVIEW}</td>
        <td>{$SLIDER_PREVIEW_5}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_DELETE}</td>
        <td>{$SLIDER_IMAGE_DELETE_5}</td>
    </tr>
    <tr>
        <td>{$txt.TEXT_GALERIES_TEXTFIELD}</td>
        <td>{$SLIDER_TEXFILED}</td>
    </tr>
</table>
<div class="row">
    <div class ="col-xs-12 text-right">
        {$BUTTONS}
    </div>
    <hr>
</div>
{$FORM_END}
{else}

<div class="row">
    <div class="col-xs-9">
        <table class="table table-striped">
            <tr>
                <th>{$txt.TABLE_HEADING_GALERIES}</th>
                <th>{$txt.TABLE_HEADING_STATUS}</th>
                <th class="text-right">{$txt.TABLE_HEADING_ACTION}</th>
            </tr>
            {foreach name=aussen item=module_data from=$sliderlistarray}
            {$module_data.TR}
            <td>{$module_data.TITLE}</td>
            <td>{$module_data.STATUS}</td>
            <td class="text-right">{$module_data.ACTION} {$module_data.EDIT}</td>
            </tr>
            {/foreach}
        </table>
        <div class ="col-xs-12 text-right">
            <a class="button" href="{$BUTTON_NEW}">{$txt.BUTTON_NEW_ELEMENT}</a>
        </div>
    </div>

    <div class="col-xs-3">
        <table class="table table-bordered table-striped">
            <tr>
                <td>{$SITE_BOX}</td>
            </tr>
        </table>
    </div>
</div>




{/if}
