<div class="row">
	<h1>
		Globale Datenbanksuche nach <i>{$SEARCH_WORD}</i>
	</h1>
</div>
<div class="row">
	<div class="panel-group" id="accordion">
		{if $CUSTOMER_HITS}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#getCustomerData">{$CUSTOMER_HITS} Treffer in Kunden</a>
				</h4>
			</div>
			<div id="getCustomerData" class="panel-collapse collapse in">
				<div class="panel-body">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Kunden-Nr. / Suche:</th>
						<th>Kunde / Edit:</th>
						<th>Firma / UST-ID:</th>
					</tr>
					{foreach name=aussen item=module_data from=$CUSTOMER_ARRAY}
					<tr>
						<td>{$module_data.CUSTOMER_ID}</td>
						<td>{$module_data.CUSTOMER_NAME}</td>
						<td>{$module_data.CUSTOMER_COMPANY}{if $module_data.CUSTOMER_UID} / {$module_data.CUSTOMER_UID}{/if}</td>
					</tr>
					{/foreach}
				</table>
				</div>
			</div>
		</div>
		{/if}
		
		{if $PRODUCTS_HITS}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#getProductsData">{$PRODUCTS_HITS} Treffer in Produkten</a>
				</h4>
			</div>
			<div id="getProductsData" class="panel-collapse collapse">
				<div class="panel-body">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Produkt:</th>
					</tr>
					{foreach name=aussen item=module_data from=$PRODUCTS_ARRAY}
					<tr>
						<td>{$module_data.PRODUCTS_LINK}</td>
					</tr>
					{/foreach}
				</table>
				</div>
			</div>
		</div>
		{/if}
		
		{if $OPTION_HITS}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#getOptData">{$OPTION_HITS} Treffer in Optionen</a>
				</h4>
			</div>
			<div id="getOptData" class="panel-collapse collapse">
				<div class="panel-body">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Option:</th>
					</tr>
					{foreach name=aussen item=module_data from=$OPTION_ARRAY}
					<tr>
						<td>{$module_data.OPTION_LINK}</td>
					</tr>
					{/foreach}
				</table>
				</div>
			</div>
		</div>
		{/if}
		
		{if $MERKMAL_HITS}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#getValData">{$MERKMAL_HITS} Treffer in Produkt Merkmalen</a>
				</h4>
			</div>
			<div id="getValData" class="panel-collapse collapse">
				<div class="panel-body">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Merkmal:</th>
					</tr>
					{foreach name=aussen item=module_data from=$MERKMAL_ARRAY}
					<tr>
						<td>{$module_data.VALUE_LINK}</td>
					</tr>
					{/foreach}
				</table>
				</div>
			</div>
		</div>
		{/if}
		
		{if $ORDER_HITS}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#getOrderData">{$ORDER_HITS} Treffer in Bestellungen</a>
				</h4>
			</div>
			<div id="getOrderData" class="panel-collapse collapse">
				<div class="panel-body">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Bestell-Nr:</th>
						<th>Bestellung von:</th>
						<th>Datum:</th>
					</tr>
					{foreach name=aussen item=module_data from=$ORDER_ARRAY}
					<tr>
						<td><i class="glyphicon glyphicon-pencil"></i> <a href="{$module_data.ORDER_LINK}">{$module_data.ORDER_NR}</a></td>
						<td>{$module_data.ORDER_NAME}</td>
						<td>{$module_data.ORDER_DATE}</td>
					</tr>
					{/foreach}
				</table>
				</div>
			</div>
		</div>
		{/if}
		
		{if $CONTENT_HITS}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#getConData">{$CONTENT_HITS} Treffer in Content</a>
				</h4>
			</div>
			<div id="getConData" class="panel-collapse collapse">
				<div class="panel-body">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Content:</th>
					</tr>
					{foreach name=aussen item=module_data from=$CONTENT_ARRAY}
					<tr>
						<td><i class="glyphicon glyphicon-pencil"></i> {$module_data.CONTENT_LINK}</td>

					</tr>
					{/foreach}
				</table>
				</div>
			</div>
		</div>
		{/if}
		
		{if $BLOG_HITS}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#getBloData">{$BLOG_HITS} Treffer in Blog</a>
				</h4>
			</div>
			<div id="getBloData" class="panel-collapse collapse">
				<div class="panel-body">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Content:</th>
					</tr>
					{foreach name=aussen item=module_data from=$BLOG_ARRAY}
					<tr>
						<td><i class="glyphicon glyphicon-pencil"></i> {$module_data.BLOG_LINK}</td>
					</tr>
					{/foreach}
				</table>
				</div>
			</div>
		</div>
		{/if}
		
	</div>

</div>