<div class="row">
	<div class ="col-xs-12">
		<h3>{$HEADING_TITLE}</h3>
	</div>
	<hr>
</div>

<table class="table">
    <tr>
        <td>
            Welche Sprache soll installiert werden?
            {$lang_button}
        </td>
    </tr>
</table>
<table class="table">
	<tr>
		<td>
			<table class="table table-striped table-bordered table-hover">
				<tr>
					<th>&nbsp;</th>
					<th>{$TABLE_HEADING_LANGUAGE_NAME}</th>
					<th>{$TABLE_HEADING_LANGUAGE_CODE}</th>
					<th>{$TABLE_HEADING_LANGUAGE_STATUS}</th>
					<th>{$TABLE_HEADING_LANGUAGE_STATUS_ADMIN}</th>
					<th>{$TABLE_HEADING_ACTION}</th>
				</tr>
				{foreach name=aussen item=module_data from=$languagearray}
				{$module_data.LANG_TR}
					<td>{$module_data.LANG_ICON}</td>
					<td>{$module_data.TD_ROW_LANG}</td>
					<td>{$module_data.TD_ROW_CODE}</td>
					<td>{$module_data.TD_ROW_STATUS_LANG}</td>
					<td>{$module_data.TD_ROW_STATUS_ADMIN_LANG}</td>
					<td>{$module_data.TD_ROW_ACTION}</td>
				</tr>
				{/foreach}
            </table>
            <table class="table">
                <tr>
                    <td><i>{$DISPLAY_NUMBER}</i></td>
                    <td align="right"><i>{$DISPLAY_SITE}</i></td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td>{$NEW_BUTTON}</td>
                </tr>
            </table>
        </td>
		<td width="250">
			{$SITE_BOX}
		</td>
    </tr>
</table>
