<div class="row">
	<div class ="col-xs-12">
		<h3>{$txt.HEADING_TITLE}</h3>
	</div>
	<hr>
</div>
{if $EDIT == 'true'}
{$FORM}
{$HIDDEN}
<table class="table table-striped">
<tr>
<td>{$txt.TEXT_SPECIALS_PRODUCT}</td>
<td>{$PRODUCTS_NAME}</td>
</tr>
<tr>
<td>{$txt.TEXT_SPECIALS_CATID}</td>
<td>{$CAT_NAME}</td>
</tr>
<tr>
<td>{$txt.TEXT_SPECIALS_MANUID}</td>
<td>{$MANU_NAME}</td>
</tr>
{foreach name=aussen item=module_data from=$descaray}
<tr>
<td>{$module_data.IMG} {$txt.TEXT_PRODUCTS_DESCRIPTION}</td>
<td>{$module_data.DESCRIPTION}</td>
</tr>
{/foreach}
<tr>
<td>{$txt.TEXT_SPECIALS_SPECIAL_QUANTITY}</td>
<td>{$SPECIALS_GRATIS_QUANTITY}</td>
</tr>
<tr>
<td>{$txt.TEXT_SPECIALS_MINPREIS}</td>
<td>{$SPECIALS_GRATIS_MIN_PRICE}</td>
</tr>
<tr>
<td>{$txt.TEXT_SPECIALS_AB}</td>
<td>{$SPECIALS_GRATIS_AB_VALUE}</td>
</tr>
<tr>
<td>{$txt.TEXT_SPECIALS_SPECIAL_MAX}</td>
<td>{$SPECIALS_GRATIS_MAX_VALUE}</td>
</tr>
<tr>
<td>{$txt.TEXT_SPECIALS_EXPIRES_DATE}</td>
<td>{$DAY}</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>{$BUTTON}</td>
</tr>
</table>
{$FORM_END}
{/if}


{if $LIST == 'true'}

<table class="table">
<tr>
<td>
<table class="table table-striped table-bordered table-hover">
<tr>
<th>{$txt.TABLE_HEADING_PRODUCTS}</th>
<th>{$txt.TEXT_SPECIALS_AB}</th>
<th>{$txt.TEXT_SPECIALS_MINPREIS}</th>
<th>{$txt.TABLE_HEADING_STATUS}</th>
<th>{$txt.TABLE_HEADING_ACTION}</th>
</tr>
{foreach name=aussen item=module_data from=$listarray}
	<tr {if $module_data.TRBACK}class="{$module_data.TRBACK}"{/if}>
		<td>{$module_data.PRODUCTS_NAME}</td>
		<td>{$module_data.SPECIALS_GRATIS_AB_VALUE}</td>
		<td>{$module_data.SPECIALS_GRATIS_MIN_PRICE}</td>
		<td>{$module_data.STATUS}</td>
		<td><a href="{$module_data.ACTION}"><i class="glyphicon glyphicon-info-sign"></i></a> <a href="{$module_data.EDITLINK}"><i class="glyphicon glyphicon-pencil"></i></a></td>
	</tr>
{/foreach}
</table>
<table class="table">
<tr>
<td>{$specials_gratis_split}</td>
<td>{$specials_gratis_count}</td>
<td><a href="{$newbutton}"><button type="button" class="btn btn-success">{$txt.NEW}</button></a></td>
</tr>
</table>

</td>
<td width="250">{$BOX_RIGHT}</td>
</tr>
</table>
{/if}
